<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>457157237254-l3i3gec83hpqeuqs2houggsppmr9mmon.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457157237254-l3i3gec83hpqeuqs2houggsppmr9mmon</string>
	<key>API_KEY</key>
	<string>AIzaSyD-2VqTS-iS5F-iv1XmcE47V8T-BoVSjWY</string>
	<key>GCM_SENDER_ID</key>
	<string>457157237254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.owlsoft.viva-ride</string>
	<key>PROJECT_ID</key>
	<string>w8d2-ride-share</string>
	<key>STORAGE_BUCKET</key>
	<string>w8d2-ride-share.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457157237254:ios:1ba70c17508743f3</string>
	<key>DATABASE_URL</key>
	<string>https://w8d2-ride-share.firebaseio.com</string>
</dict>
</plist>